{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>[NBC Premier League] - Welcome</title>
 
  <link rel="stylesheet" href="{% static 'css/login1.css' %}">
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  
</head>
<body>
  {% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
  {% endif %}
  <header>
    <h1>Welcome to NBC Premier League</h1>
  </header>

  {% comment %} login info {% endcomment %}
  <div id="logindetails" >
    <div class="login_box">
      <form id="login-form" method="POST">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="input_box">
          <input type="email" name="email" placeholder="Email" required>
        </div>

        <div class="input_box">
          <!-- Password input field -->
          <input type="password" id="password-input" name="password" placeholder="Password" required>
          <!-- Eye icon for toggling password visibility -->
          <i id="toggle-password" class="bx bx-show"></i>
        </div>
      

        <div class="remember">
            <input type="checkbox">
            <label for="">remember me</label>
        </div>

        <div class="forget"><a href="#">forget password ?</a></div>

        <div class="log">
          <button type="submit">Login</button>
        </div>

        <div class="reg">
            <p>don't have an account <a href="{% url 'register' %}">Register</a></p>
        </div>
      </form>

    </div>
    
  </div>

  <footer>
    <p>&copy; 2023 Mango Ltd. All rights reserved.</p>
  </footer>
</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  $(document).ready(function() {
    $('#login-form').submit(function(e) {
        e.preventDefault(); // Prevent form submission

        // Serialize the form data
        var formData = $(this).serialize();

        // Make the AJAX request to the API endpoint
        $.ajax({
            url: '/api/login/', // Replace with your actual API endpoint URL
            type: 'POST',
            data: formData,
            success: function(response) {
                // Handle the successful login
                console.log(response);
                alert('Login successful');
                // Redirect to the appropriate URL
                window.location.href = '/api/TeamManager'; // Replace with the appropriate URL for the dashboard page
            },
            error: function(xhr, textStatus, errorThrown) {
                // Handle the login error
                console.log(xhr.responseJSON);
                var errorData = xhr.responseJSON;
                var errorMessage = 'Login failed. Please check your credentials.';
                if (errorData.detail === 'user not found') {
                    errorMessage = 'User does not exist.';
                }
                alert(errorMessage);
            }
        });
    });

    // Get references to the password input field and the eye icon
    const passwordInput = document.getElementById('password-input');
    const togglePassword = document.getElementById('toggle-password');

    // Add click event listener to the eye icon
    togglePassword.addEventListener('click', function() {
        // Toggle the type attribute of the password input field between 'password' and 'text'
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        // Toggle the eye icon's class between 'bx-show' and 'bx-hide' to change the icon
        togglePassword.classList.toggle('bx-show');
        togglePassword.classList.toggle('bx-hide');
    });

  });
  
</script>

</html>
