{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title>Register</title>
    <style>
        .error-field input {
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="title">Registration Form</div>

        <div class="form-inner">
            <form id="register-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label>First Name</label>
                    <input type="text" name="first_name" placeholder="First Name" required pattern="[A-Za-z]+" title="First name can only contain alphabetic characters">
                </div>

                <div class="field">
                    <label>Last Name</label>
                    <input type="text" name="last_name" placeholder="Last Name" required pattern="[A-Za-z]+" title="Last name can only contain alphabetic characters">
                </div>

                <div class="field">
                    <label>E-mail</label>
                    <input type="email" name="email" placeholder="Email" required title="Invalid email address">
                </div>

                <div class="field">
                    <label>Phone number</label>
                    <input type="tel" name="phoneNo" placeholder="Phone Number" required title="Invalid phone number">
                </div>

                <div class="field">
                    <label>Profile Picture</label>
                    <input type="file" name="userImage" placeholder="Upload Image" accept=".jpg,.png" required>
                </div>

                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Password must be at least 8 characters long and contain at least one letter, one number, and one special character">
                </div>

                <!-- New fields for Team information -->
                <div class="field">
                    <label>Team Name</label>
                    <input type="text" name="team[TeamName]" placeholder="Team Name" required>
                </div>

                <div class="field">
                    <label>Team Stadium</label>
                    <input type="text" name="team[TeamStadium]" placeholder="Team Stadium" required>
                </div>

                <div class="field">
                    <label>Team City</label>
                    <input type="text" name="team[TeamCity]" placeholder="Team City" required>
                </div>
                <!-- End of Team fields -->

                <div class="field ">
                    <button type="submit">Register</button>
                </div>
            </form>

            <div id="error-message" style="color: red;"></div>
        </div>
    </div

    <div id="error-message" style="color: red;"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#register-form').submit(function(e) {
                e.preventDefault(); // Prevent form submission
                
                var formData = new FormData(this);
                var csrfToken = "{{ csrf_token }}";
    
                // Directly append team fields to formData
                formData.append('team.TeamName', $('[name="team[TeamName]"]').val());
                formData.append('team.TeamStadium', $('[name="team[TeamStadium]"]').val());
                formData.append('team.TeamCity', $('[name="team[TeamCity]"]').val());
    
                // Remove previous error styles
                $('.field').removeClass('error-field');
    
                // Make the AJAX request to the API endpoint
                $.ajax({
                    headers: { "X-CSRFToken": csrfToken },
                    url: '/api/registration',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        // Handling the successful registration response
                        console.log(response);
                        alert('Registration successful');
                        window.location.href = 'login';
                    },
                    error: function(xhr, status, error) {
                        // Handle the registration error
                        console.log(xhr.responseText);
                        var errors = JSON.parse(xhr.responseText);
                        for (var key in errors) {
                            $('[name="' + key + '"]').closest('.form-group').addClass('error-field');
                        }
                        var errorMessage = errors.email[0];
                        $('#error-message').text(errorMessage);
                    }
                });
            });
        });
    </script>
    
    
</body>
</html>
