{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/TeamManager.css' %}">
</head>
<body>
    <div class="container">
        <h1>User Dashboard</h1>
        <div class="dashboard">

            <div class="left_side">
                <div class="profile">
                    <h2>Profile</h2>
                    <div class="profile-details">
                        <div class="user-info"></div>
                        <div class="btn">
                            <button id="updating">Update Profile</button>
                        </div>
                    </div>
                    <div id="updates" style="display: none;">
                        <div class="popup-content">
                            <div class="update-container">
                                <div class="title">Updating</div>
                                <div class="form-inner">
                                    <form  method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="field">
                                            <label>First Name</label>
                                            <input type="text" name="first_name" placeholder="First Name" required pattern="[A-Za-z]+" title="First name can only contain alphabetic characters">
                                        </div>
                                    
                                        <div class="field">
                                            <label>Last Name</label>
                                            <input type="text" name="last_name" placeholder="Last Name" required pattern="[A-Za-z]+" title="Last name can only contain alphabetic characters">
                                        </div>
                                    
                                        <div class="field">
                                            <label>E-mail</label>
                                            <input type="email" name="email" placeholder="Email" required title="Invalid email address">
                                        </div>
                                    
                                        <div class="field">
                                            <label>Phone number</label>
                                            <input type="tel" name="phoneNo" placeholder="Phone Number" required title="Invalid phone number">
                                        </div>
                                    
                                        <div class="field">
                                            <label>Profile Picture</label>
                                            <input type="file" name="userImage" placeholder="Upload Image" accept=".jpg,.png" required>
                                        </div>
                                    
                                        <div class="field">
                                            <label>Password</label>
                                            <input type="password" name="password" placeholder="Password" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Password must be at least 8 characters long and contain at least one letter, one number, and one special character">
                                        </div>

                                        <div class="btn-layer">
                                            <button id="closing">Cancel</button>
                                            <button id="update">Confirm</button>
                                        </div>
                                    </form>
                                    <div id="error-message" style="color: red;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notifications">
                    <h2>Notifications</h2>
                    <ul id="notification-list"></ul>
                </div>

            </div>

            <div class="right_side">
                <div id="dashboard-container">
                    <h1>{{ welcome_message }}</h1>

                    <!-- Buttons for Fixture Sections -->
                    <div class="button-container">
                        <button class="button toggle-button active" data-section-id="all-team-fixtures">All Team Fixtures</button>
                        <button class="button toggle-button" data-section-id="user-team-fixtures">My Team's Fixtures</button>
                        <button class="button toggle-button" data-section-id="played-fixtures">Played Fixtures</button>
                        <button class="button toggle-button" data-section-id="non-played-fixtures">Non-Played Fixtures</button>
                        <button class="button toggle-button" data-section-id="next-matches">Next 5 Matches</button>
                        <button class="button toggle-button" data-section-id="previous-matches">Previous 5 Matches</button>
                    </div>

                    <!-- Fixture Sections -->
                    <div id="fixture-sections">

                        <!-- All Fixtures -->
                        <h2>All Fixtures</h2>
                        <table id="all-team-fixtures" class="fixture-section">
                            <thead>
                                <tr>
                                    <th>Home Team</th>
                                    <th>Away Team</th>
                                    <th>Match Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fixture in all_fixtures %}
                                    <tr>
                                        <td>{{ fixture.home_team }}</td>
                                        <td>{{ fixture.away_team }}</td>
                                        <td>{{ fixture.match_date }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <!-- Your Team's Fixtures -->
                        <div id="user-team-fixtures" class="fixture-section hidden">
                            <h2>Your Team's Fixtures</h2>
                            <ul>
                                {% for fixture in user_team_fixtures %}
                                    <li class="fixture-item">{{ fixture.home_team }} vs {{ fixture.away_team }} - {{ fixture.match_date }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Played Fixtures -->
                        <div id="played-fixtures" class="fixture-section hidden">
                            <h2>Played Fixtures</h2>
                            <ul>
                                {% for fixture in played_fixtures %}
                                    <li class="fixture-item">{{ fixture.home_team }} vs {{ fixture.away_team }} - {{ fixture.match_date }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Non-Played Fixtures -->
                        <div id="non-played-fixtures" class="fixture-section hidden">
                            <h2>Non-Played Fixtures</h2>
                            <ul>
                                {% for fixture in non_played_fixtures %}
                                    <li class="fixture-item">{{ fixture.home_team }} vs {{ fixture.away_team }} - {{ fixture.match_date }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Next 5 Matches -->
                        <div id="next-matches" class="fixture-section hidden">
                            <h2>Next 5 Matches</h2>
                            <ul>
                                {% for fixture in next_matches %}
                                    <li class="fixture-item">{{ fixture.home_team }} vs {{ fixture.away_team }} - {{ fixture.match_date }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Previous 5 Matches -->
                        <div id="previous-matches" class="fixture-section hidden">
                            <h2>Previous 5 Matches</h2>
                            <ul>
                                {% for fixture in previous_matches %}
                                    <li class="fixture-item">{{ fixture.home_team }} vs {{ fixture.away_team }} - {{ fixture.match_date }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/user_dashboard.js' %}"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>
        // calendar library or plugin.FullCalendar library (https://fullcalendar.io/).
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

        // Update Profile button animation
        const updation = document.getElementById('updating');
        const updationInfo = document.getElementById('updates');

        updation.addEventListener('click', () => {
            updationInfo.style.display = 'block';
            updationInfo.classList.add('fadeIn');
        });

        const close = document.getElementById('closing');
        close.addEventListener('click', () => {
            updationInfo.classList.remove('fadeIn');
            updationInfo.style.display = 'none';
        });

        $(document).ready(function() {
            // Fetch CSRF token from the cookie
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            // Fetch user information and display it
            $.ajax({
                url: '/api/putdelete',
                type: 'GET',
                success: function(response) {
                    var user = response;

                    // Display user information in the template
                    var userInfo =
                        '<div class="profile-picture">' +
                        '<img src="' + user.userImage + '" alt="Profile Picture">' +
                        '</div>' +
                        '<h3>Name: ' + user.first_name + ' ' + user.last_name + '</h3>' +
                        '<p>Email: ' + user.email + '</p>' +
                        '<p>Phone No: ' + user.phoneNo + '</p>';

                    $('.user-info').append(userInfo);

                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(xhr.responseJSON);
                    alert('Failed to fetch user information.');
                }
            });

            // Delete user account
            $('#delete').click(function() {
                $.ajax({
                    url: '/api/putdelete',
                    type: 'DELETE',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    },
                    success: function(response) {
                        alert('User account deleted successfully.');
                        window.location.href = '/';
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        alert('Failed to delete user account.');
                    }
                });
            });

            // Update user account
            $('#update').click(function() {
                var updatedUserDetails = new FormData();
                updatedUserDetails.append('first_name', $('#first_name').val());
                updatedUserDetails.append('last_name', $('#last_name').val());
                updatedUserDetails.append('email', $('#email').val());
                updatedUserDetails.append('phoneNo', $('#phoneNo').val());
                updatedUserDetails.append('password', $('#password').val());
                updatedUserDetails.append('userImage', $('#userImage')[0].files[0]);

                $.ajax({
                    url: '/api/putdelete',
                    type: 'PUT',
                    data: updatedUserDetails,
                    processData: false,
                    contentType: false,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    },
                    success: function(response) {
                        alert('User account updated successfully.');
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        alert('Failed to update user account.');
                    }
                });
            });

        });
    </script>

    <script>
        // JavaScript code for dashboard interactivity
        // Add event listener to toggle fixture sections
        document.querySelectorAll('.toggle-button').forEach(button => {
            button.addEventListener('click', function() {
                var sectionId = this.dataset.sectionId;
                var section = document.getElementById(sectionId);

                // Hide all fixture sections
                document.querySelectorAll('.fixture-section').forEach(section => {
                    section.classList.add('hidden');
                });

                // Remove active class from all buttons
                document.querySelectorAll('.toggle-button').forEach(btn => {
                    btn.classList.remove('active');
                });

                // Show the clicked fixture section
                section.classList.remove('hidden');

                // Add active class to the clicked button
                this.classList.add('active');
            });
        });
    </script>
</body>
</html>
